@font-face{
    font-family:'BlenderPro-Medium';
    src: url('/fonts/BlenderPro-Medium.ttf') format('opentype');
}

/* CSS Variables */
:root {
    --text-color: rgb(8, 21, 255);
}
  
html {
    scroll-behavior: smooth;
}

body{
    background: rgb(246, 247, 250);
    font-family:'BlenderPro-Medium';
   
    /* Hides horizontal scroll */
    overflow-x: hidden;
   
    /* //Internet Explorer, Edge */
    /* -ms-overflow-style: none; */
    
     /* Hides both vertical and horizontal  scroll */
    /* overflow: hidden; */
}

video {
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    position: absolute; 
}

h4{
    font-size: 2.3rem;
}

/* Header Section -------------------- */
.background--opacity{
    background: rgb(7, 7, 241);
    height: 100vh;
    opacity: 0.7;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.5rem;
    padding: 2rem;
}

ul li{
    list-style-type:none;
    margin: 0 1rem;
}

ul li a{
    color: white;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.typing--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 90vh;
    /* max-width: 100px; */
}

.typing--wrapper > h1{
    font-size: 2.5rem;
    margin-top: 2%;
}

.projects-btn{
    background-color: rgb(241, 247, 246);
    border-radius: 5rem;
    color: rgb(8, 21, 255);
    font-family: 'Inter', sans-serif;
    font-size: .8rem;
    margin-top: 2rem;
    padding: .8rem 1.8rem;
    text-transform: uppercase;   
}

.btn--small{
    margin: 0 auto;
    width: 100px;
}

/* Projects Section --------------------------- */
.projects--wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1100px;
    position: relative;
}

.projects--headline{
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-top: 3rem;
}

.cards--wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
}

.card{
    display: flex;
    flex-direction: column;
    width: 25vw;
    min-width: 400px;
    border-radius: 6px;
    border: 2px dotted blue;
    filter: drop-shadow(0 0 1rem grey);
    text-align: center;
    line-height: 1.8;
    margin: 1.5rem;
    max-height: 450px;
}

.card img {
    border-radius:  4px;
    margin: 0 auto;
    width: 81%;
    /* max-width: 400px; */
    /* width: 400px; */
}

.card--content{
    padding: 4%;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: black;
}

.content--headline{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.primary{
    color: var(--text-color);
}

.about--wrapper{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: black;
    height: 100vh;
    line-height: 1.7;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    /* background-color: rgb(107, 107, 177); */
    
}

.about--content{
    display: flex;
    flex-wrap: wrap;
    max-width: 790px;
}

.about--wrapper article{
    height: 50%;
    width: 500px;
    padding: 0 4rem 0 0;
    /* padding: 2rem; */
    /* background-color: rgb(160, 39, 39); */
}

.about--wrapper aside{
    height: 50%;
    /* background-color: rgb(24, 1, 1); */
}

.icon {
    display: flex;
    justify-content: center;
}

.icon > img {
    margin-top: 1rem;
    height: 120px;
    padding: .5rem;
    filter: drop-shadow(0 0 0.3rem var(--text-color));
}

/* Left line */
/* .about--text{
    border-left: var(--text-color) solid 2px;
    padding-left: 50px;
} */

.about--text{
    width: 100%;
    font-size: 1.2rem;
}

.about--text p {
    margin-left: auto;
    max-width: 450px;
}

.bioImage{
    max-height: 30vh;
    max-width: 30vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutBtn{
    display: flex;
    justify-content: center;
}

.btn--blue{
    background-color: var(--text-color);
    color: whitesmoke;
    opacity: .9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.uparrow{
    position: absolute;
    bottom: 50px;
}

.more-height{
    bottom: 380px;
}

.contact{
    background-color: var(--text-color);
    font-family: 'Inter', sans-serif;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    color: whitesmoke;
}

.contact > i {
    padding: 1rem;
}


.secondary {
    color: white;
}

.popup {
    position: relative;
}
  
  /* .image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;

    display: block;
    width: 100%;
    height: auto;
  } */
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .popup:hover .bioImage {
    opacity: 0.8;
  }
  
  .popup:hover .middle {
    opacity: 1;
  }
/*   
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  } */

@media (max-width: 1024px){
    /* .navbar{
        display: none;
    } */
    .viewport-header{
        font-size: 1rem;
    }
}

 @media (max-width: 667px){
    .navbar{
        display: none;
    }
    h1{
        text-align: center;
    }
    .typing{
        font-size: 2rem;
     }
    .projectsBtn{
        padding: .3rem .7rem;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .container aside{
        height: 125%;
    }
    .icon > img {
        margin-top: 1rem;
        height: 80px;
    }       
    .about--text{
        max-width: 400px;
        text-align: center;
    }
 }

 /* font-size 1.2 when it's mid-size */

    /* Search for better way of changing default color */
    /* color: green; */
