@font-face{
    font-family:'BlenderPro-Medium';
    src: url('../fonts/BlenderPro-Medium.ttf') format('opentype');
}

/* CSS Variables */
:root {
    --text-color: rgb(8, 21, 255);
}
  
html {
    scroll-behavior: smooth;
}

body{
    background: rgb(246, 247, 250);
    font-family:'BlenderPro-Medium';
    overflow-x: hidden;   /* Hides horizontal scroll */
}

section{
    min-height: 100vh;
}

video {
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    position: absolute; 
}

h4{
    font-size: 2.3rem;
}

/* Header Section -------------------- */
.background--opacity{
    background: rgb(7, 7, 241);
    height: 100vh;
    opacity: 0.7;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.5rem;
    padding: 2rem;
}

ul li{
    list-style-type:none;
    margin: 0 1rem;
}

ul li a{
    color: white;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

.typing--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 90vh;
}

.typing--wrapper > h1{
    font-size: 2.5rem;
    margin-top: 2%;
}

.typing > .txt{
    border-right: 0.2rem solid whitesmoke;
}

.projects-btn{
    background-color: rgb(241, 247, 246);
    border-radius: 5rem;
    color: rgb(8, 21, 255);
    font-family: 'Inter', sans-serif;
    font-size: .8rem;
    margin-top: 2rem;
    padding: .8rem 1.8rem;
    text-transform: uppercase;   
}

.btn-small{
    background-color: var(--text-color);
    color: rgb(241, 247, 246);
    margin: 0 auto;
    align-self: center;
}

.fixed{
    padding-top: 35rem;
}

/* Projects Section --------------------------- */
.projects--headline{
    text-align: center;
    font-weight: 700;
    padding-top: 3rem;
}

.cards--wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: rgb(228, 229, 231);
    display: flex;
    flex-direction: column;
    width: 100vw;
    border-radius: 6px;
    filter: drop-shadow(0 0 1rem grey);
    text-align: center;
    line-height: 1.8;
    margin: 1.5rem;
    max-width: 380px;
    min-width: 250px;
    max-height: 470px;
    padding: 2rem;
}

.card > img {
    max-height: 215px;
}

.card--content{
    padding: 4%;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: black;
}

.content--headline{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.primary{
    color: var(--text-color);
}

/* About Section -------------------------------------- */
.about--grid{
    display: grid;
    /* grid-template-columns: minmax(auto,28vw) minmax(auto, 12vw); */
    grid-template-columns: minmax(auto,450px) minmax(auto, 200px);
    grid-gap: 2rem;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.about-text{
    font-size: 1.4rem;
    line-height: 1.3;
}

.bio-image{
    max-width: 170px;
}

.about--btn{
    display: flex;
}

/* Styling for icons: JavaScript, Node, React */
.icon--wrapper{
    display: flex;
    justify-content: space-between;
}

.icon {
    max-width: 115px;
    padding: .5rem;
}

.js{
    filter: drop-shadow(0 0 0.5rem rgb(163, 163, 25));
}

.node{
    filter: drop-shadow(0 0 0.5rem rgb(37, 170, 37));
}

.react{
    filter: drop-shadow(0 0 0.5rem rgb(31, 118, 175));
}

.btn--blue{
    background-color: var(--text-color);
    color: whitesmoke;
    opacity: .9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.arrow--wrapper{
    position: relative;
}

.arrow{
    position: absolute;
    left: 49%;
    right: 49%;
    bottom: 15px;
}

.contact{
    background-color: var(--text-color);
    font-family: 'Inter', sans-serif;
    height: 25vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    color: whitesmoke;
}

.contact > i {
    padding: 1rem;
}

.secondary {
    color: white;
}

/* Media Queries */
@media (max-width: 1024px){

    .navbar{
       display: none;
    }

    .uparrow, .arrow{
        display: none;
    }

}

@media (max-width: 736px){

    .about--grid{
        grid-template-columns: minmax(auto,450px);
    }

    .contact{
        font-size: 1rem;
    }

    .content--headline{
        font-size: 1rem;
    }

    #about > .arrow{
        display: none;
    }

    .icon--wrapper{
        justify-content: center;
    }

    .image--wrapper{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 667px){

    h1{
        text-align: center;
        max-width: 400px;
    }

    h1 > span{
        font-size: 1.7rem;
    }

    .typing--wrapper{
        height: 100vh;
    }

    .typing{
        font-size: 1.7rem;
     }

    .projects-btn{
        padding: .6rem 1.8rem;
    }

    .projects--headline{
        font-size: 1.7rem;
    }

    .content--headline{
        font-size: .8rem;
    }

    .card--content{
        font-size: .9rem;
    }

    .icon > img {
        margin-top: 1rem;
        height: 80px;
    } 

    .about-text{
        width: 80vw;
        max-width: 450px;
        text-align: left;
        font-size: 1.4rem;
        margin: auto;
    }

    .icon{
        max-width: 100px;
    }

    .contact{
        margin-top: 3.5rem;
        font-size: .8rem;
        height: 15vh;
    }
}

@media (max-width: 490px){
    
    .about-text{
        font-size: 1.2rem;
    }
}

@media (max-width: 320px){

    .card{
        min-width: 220px;
    }
    
    .about-text{
        margin-top: 4rem;
    }

    .icon{
        max-width: 80px;
    }

    .contact{
        margin-top: 7rem;
        font-size: .6rem;
        height: 15vh;
    }
}

